// @import 'grid-system.scss';
@import 'swiper.scss';

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/Robotothin.woff2') format('woff2'), url('../fonts/Robotothin.woff') format('woff'), url('../fonts/Robotothin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../fonts/Robotothinitalic.woff2') format('woff2'), url('../fonts/Robotothinitalic.woff') format('woff'), url('../fonts/Robotothinitalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Robotolight.woff2') format('woff2'), url('../fonts/Robotolight.woff') format('woff'), url('../fonts/Robotolight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../fonts/Robotolightitalic.woff2') format('woff2'), url('../fonts/Robotolightitalic.woff') format('woff'), url('../fonts/Robotolightitalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Italic'), local('Roboto-Italic'), url('../fonts/Robotoitalic.woff2') format('woff2'), url('../fonts/Robotoitalic.woff') format('woff'), url('../fonts/Robotoitalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Robotomedium.woff2') format('woff2'), url('../fonts/Robotomedium.woff') format('woff'), url('../fonts/Robotomedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../fonts/Robotomediumitalic.woff2') format('woff2'), url('../fonts/Robotomediumitalic.woff') format('woff'), url('../fonts/Robotomediumitalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Robotobold.woff2') format('woff2'), url('../fonts/Robotobold.woff') format('woff'), url('../fonts/Robotobold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../fonts/Robotobolditalic.woff2') format('woff2'), url('../fonts/Robotobolditalic.woff') format('woff'), url('../fonts/Robotobolditalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/Robotoblack.woff2') format('woff2'), url('../fonts/Robotoblack.woff') format('woff'), url('../fonts/Robotoblack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../fonts/Robotoblackitalic.woff2') format('woff2'), url('../fonts/Robotoblackitalic.woff') format('woff'), url('../fonts/Robotoblackitalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}


.wrapper {
	// max-width: 1440px;
	width: 100%;
}


body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;

	* {
		box-sizing: border-box;
	}
}

.main {
	position: relative;
	display: flex;
	height: 100vh;



	// .main__info

	&__info {
		flex-grow: 1;
		padding: 2.23% 4.5% 2.23% 8.9%;
		display: flex;
		flex-direction: column;
	}

	// .main__header

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 160px;
	}

	// .main__slogan

	&__slogan {
		font-size: 30px;
		font-weight: 700;
		font-style: normal;
		line-height: 35px;
	}

	// .main__location

	&__location {
		color: #999999;
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		display: flex;
		align-self: flex-start;
		align-items: center;
	}

	// .main__content

	&__content {
		display: flex;
		flex-direction: column;
	}

	// .main__title

	&__title {
		color: #121212;
		font-size: 70px;
		font-weight: 700;
		line-height: 78px;
		margin: 0;
	}

	// .main__subtitle

	&__subtitle {
		font-size: 70px;
		font-weight: 700;
		line-height: 65.63px;
		margin-bottom: 24px;
	}

	// .main__desc

	&__desc {
		color: #999999;
		font-size: 26px;
		font-weight: 300;
		margin-bottom: 53px;
	}

	// .main__reservation

	&__reservation {
		// background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
		background: linear-gradient(90deg, hsl(148, 87%, 41%) 2.61%, hsl(158, 96%, 32%) 112.6%);
		width: 250px;
		height: 48px;

		&:hover {
			// background: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
			background: linear-gradient(90deg, hsl(148, 87%, 31%) 2.61%, hsl(158, 96%, 22%) 112.6%);
			background-blend-mode: darken;
		}

		&:active {
			background: linear-gradient(90deg, hsl(148, 87%, 21%) 2.61%, hsl(158, 96%, 12%) 112.6%);
		}
	}

	// .slider__link

	.slider__link {
		box-sizing: border-box;
		border-radius: 4px;
		text-decoration: none;
		width: 164px;
		height: 48px;
	}


	// .main__reservation 	// .slider__link

	&__reservation,
	.slider__link {
		color: #ffffff;
		font-family: Roboto;
		font-size: 18px;
		font-weight: 500;
		background-blend-mode: darken;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: 0.3s;
	}

	// .main__footer

	&__footer {
		margin-top: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .main__copyright

	&__copyright {
		color: #999999;
		font-size: 13px;
		font-weight: 400;
	}

	// .main__phone

	&__phone {
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 15px;
		color: #121212;
		text-decoration: none;
	}

	// .main__slider

	&__slider {
		width: 47.777777778%;
	}

	// .main__aside

	&__aside {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 34.44767441860465% 14.09883720930233% 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
		mix-blend-mode: normal;
	}

	// .main__subject

	&__subject {
		color: #ffffff;
		font-size: 40px;
		font-weight: 500;
		line-height: 47px;
		margin-bottom: 8px;
	}

	// .main__text

	&__text {
		color: #eeeeee;
		font-weight: 300;
		font-size: 24px;
		line-height: 90%;
		margin-bottom: 34px;
	}

	.menu {
		position: absolute;
		width: 65px;
		height: 100%;
		left: 0px;
		top: 0px;
		background-color: #151b1f;
		padding: 30px 16px;
		display: flex;
		flex-direction: column;
		// justify-content: center;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		// transition: 0.4s;

		// .menu__list

		&__list {
			// display: flex;
			flex-direction: column;
			z-index: 1;
			display: none;
			// margin-top: 23%;
			margin-bottom: 38px;
			// align-self: center;
			// display: none;
		}

		// .menu__link

		&__link {
			color: #ffffff;
			font-family: Roboto;
			font-size: 32px;
			font-weight: 500;
			text-decoration: none;
		}

		// .menu__socials

		&__socials {
			display: none;

		}

		// .menu__social

		&__social {
			img.green {
				display: none;
			}

			&:hover {
				img.white {
					display: none;
				}

				img.green {
					display: block;
				}
			}

			&:nth-of-type(2) {
				margin: 0 24px;
			}
		}

		&__lang {
			font-style: normal;
			font-weight: bold;
			font-size: 13px;
			line-height: 15px;
			margin-top: auto;
			cursor: pointer;
		}

		.hamburger {
			width: 32px;
			height: 32px;
			display: flex;
			position: absolute;
			transform: translateX(-50%);
			left: 50%;
			top: 33px;
			// transition: 0.4s;


			// .hamburger__img

			&__img {
				// transition: 0.4s;
				background: url('../images/menu_btn.svg');
				width: 100%;
				cursor: pointer;
			}


		}

		&.open {
			width: 100%;
			background: rgba(21, 27, 31, 0.81);
			z-index: 9;
			padding: 30px 128px;
			transition: 0.3s;
			align-items: baseline;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background-color: #111518;
				width: 52.22222222222222%;
				height: 100%;
			}

			.hamburger {
				// top: 33px;
				transform: translateX(0);
				left: 17px;

				&__img {
					background: url('../images/menu_close.svg');
				}
			}

			.menu__lang {
				display: none;
			}

			.menu__list {
				display: flex;
			}

			.menu__socials {
				display: flex;
				z-index: 1;
			}

		}
	}


	// .location__img


	.location__img {
		background: url('../images/map.svg');
		width: 17px;
		height: 21px;
		margin-right: 4px;
	}


	.swiper-container {
		height: 100%;
		padding: 0;
	}

	.swiper-wrapper {}

	.swiper-slide {
		position: relative;

		img {
			display: flex;
			max-width: unset;
			width: auto;
			max-height: unset;
			height: 100%;
			min-width: 100%;
			min-height: 100%;
		}

		overflow: hidden;

		&:nth-of-type(1) {
			// .slider__link

			.slider__link {
				background: linear-gradient(90deg, hsl(169, 59%, 18%) 0, hsl(128, 82%, 26%) 100%);

				&:hover {
					background: linear-gradient(90deg, hsl(169, 59%, 8%) 0, hsl(128, 82%, 16%) 100%);
				}

				&:active {
					background: linear-gradient(90deg, hsl(169, 59%, 1%) 0, hsl(128, 82%, 6%) 100%);
				}
			}
		}

		&:nth-of-type(2) {
			// .slider__link

			.slider__link {
				background: linear-gradient(90deg, hsl(217, 59%, 18%) 0, hsl(169, 82%, 26%) 100%);

				&:hover {
					background: linear-gradient(90deg, hsl(217, 59%, 8%) 0, hsl(169, 82%, 16%) 100%);
				}

				&:active {
					background: linear-gradient(90deg, hsl(217, 59%, 0%) 0, hsl(169, 82%, 6%) 100%);
				}
			}
		}

		&:nth-of-type(3) {
			// .slider__link

			.slider__link {
				background: linear-gradient(90deg, hsl(32, 59%, 18%) 0, hsl(335, 82%, 26%) 100%);

				&:hover {
					background: linear-gradient(90deg, hsl(32, 59%, 8%) 0, hsl(335, 82%, 16%) 100%);
				}

				&:active {
					background: linear-gradient(90deg, hsl(32, 59%, 0%) 0, hsl(335, 82%, 6%) 100%);
				}
			}
		}

		&:nth-of-type(4) {
			// .slider__link

			.slider__link {
				background: linear-gradient(90deg, hsl(263, 59%, 18%) 0, hsl(295, 82%, 26%) 100%);

				&:hover {
					background: linear-gradient(90deg, hsl(263, 59%, 8%) 0, hsl(295, 82%, 16%) 100%);
				}

				&:active {
					background: linear-gradient(90deg, hsl(263, 59%, 0%) 0, hsl(295, 82%, 6%) 100%);
				}
			}
		}
	}

	.swiper-pagination {
		bottom: 30px;

		.swiper-pagination-bullet {
			width: 8px;
			height: 9px;
			background-color: #eeeeee;
			opacity: 1;

			&-active {

				background-color: #0ec261;
			}
		}
	}

	.swiper-button-prev {
		background: url('../images/prev.svg') no-repeat 50%;
		left: 0px;
	}

	.swiper-button-next {
		background: url('../images/next.svg') no-repeat 50%;
		right: 0px;
	}

	.swiper-button-next,
	.swiper-button-prev {
		z-index: 6;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		top: 0;
		width: 64px;
		margin: 0;
		// background-color: #0ec261;

		&:hover {
			background-color: #0ec26133;
		}
	}


	.green {
		color: #0ec261;
	}

	a.main__phone,
	.menu__link {
		&:hover {
			color: #0EC261;
		}
	}

}



@media screen and (max-width: 1024px) {
	.main {
		position: relative;
		display: flex;
		height: 100vh;

		&__slider {
			width: 40%;
		}

		.swiper-button-next,
		.swiper-button-prev {
			width: 32px;
		}

		&__header {
			margin-bottom: 34%;
		}

		&__info {
			padding: 3% 3% 3% 9.4%;
		}

		.menu {
			&.open {
				padding: 30px 97px;

				&:before {
					width: 60%;
				}
			}

			.hamburger {
				top: 28px;
			}
		}

		&__aside {
			padding: 67.7% 15.6% 0;
		}

		&__subject {
			font-size: 32px;
			line-height: 37px;
		}

		&__text {
			font-size: 22px;
			line-height: 100%;
		}

		.location__img {
			margin-right: 9px;
		}

		&__title {
			line-height: 74px;
		}
	}
}


@media screen and (max-width: 768px) {
	.main {
		.menu {
			width: 85.77px;
			padding: 30px 16px 38px;

			&.open {
				&:before {
					width: 100%;
				}
			}

			.hamburger {
				width: 36px;
				height: 36px;

				&__img {
					background-size: cover !important;
				}
			}
		}

		&__info {
			// padding: 4% 4% 5% 15.36458333333333%;
			padding: 4% 4% 5% 118px;
		}

		&__slider {
			display: none;
		}

		&__header {
			margin-bottom: 25%;
		}

		&__title {
			line-height: 1.2;
		}
	}



}

@media screen and (max-width: 504px) {

	.main__subtitle,
	.main__title {
		font-size: 32px;
		line-height: 1.17;
	}
}



@media screen and (max-width: 480px) {
	.main {

		.menu {
			width: 60px;
			padding: 30px 16px 38px;
			background: transparent;
			justify-content: flex-start;

			.hamburger {
				width: 36px;
				height: 36px;
				top: 14px;

				&__img {
					background: url('../images/menu_btn_mobile.svg');
					background-size: cover !important;
				}
			}

			&__lang {
				opacity: 0;
			}

			&.open {
				padding: 80px 25px 30px;
			}
		}

		&__header {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-end;
		}

		&__location {
			align-self: unset;
		}

		&__desc {
			font-weight: 300;
			font-size: 18px;
			line-height: 21px;
			margin-bottom: 32px;
		}

		&__info {
			padding: 3.5% 4% 5% 12px;
			overflow: hidden;
		}

		&__slogan {
			margin-bottom: 8px;
		}

		.location__img {
			margin-right: 10px;
		}

		&__subtitle {
			margin-bottom: 14px;
		}

		&__content {
			max-width: 100%;
			// overflow: hidden;
		}

		&__reservation {
			margin: 0 -25%;
			height: 50px;
			width: 150%;
		}

		&__footer {
			margin-top: auto;
			display: flex;
			flex-direction: column-reverse;
			align-items: flex-end;
			background: #151B1F;
			position: absolute;
			position: absolute;
			bottom: 0px;
			left: 0;
			right: 0;
			padding: 12px 8px;
			width: 100%;
			height: 58px;


		}

		&__copyright {
			color: #EEEEEE;
		}

		&__phone {
			color: #0EC261;

		}

		.menu__link {
			font-size: 22px;
			// line-height: 26px;
		}


	}



}
