<!Doctype html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Доставка грузов</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" href="/style/grid-system.css">-->
	<link rel="stylesheet" href="style/indexmain.css">
</head>

<body class=" grid">
	<div class="wrapper">

	</div>
	<script async src="/js/metrika.js"></script>
</body>
</html>
